.btn{
    padding: 10px 60px;
    background: $light-green;
    color: $dark-green;
    font-size: 15px;
    margin-top: 15px;
    line-height: 15px;

    display: table;
    text-align: center;
    position: relative;
    font-weight: 600;
    font-size: 12.4426px;
    line-height: 15px;
    align-items: center;
    text-align: center;
    letter-spacing: 1px;
    transition: all 0.3s ease-in-out;
    border: 2px solid $light-green;
    z-index: 0;
    &:before {
        position: absolute;
        width: 100%;
        height: 100%;
        content: '';
        top: 8px;
        left: 8px;
        border: 2px solid $light-green;
        transition: all 0.3s ease-in-out;
        z-index: -1;
    }
    &:hover{
        border: 2px solid $dark-green;
        &:before {
            top: 8px;
            left: 8px;
        }
    }
    &:active{
        transform: translate(8px, 8px);
        &:before {
            top: 0;
            left: 0;
            z-index: -1;
        }
    }
}

.btn{
    &.light-color{
        background: $light-color;
        color: $dark-green;
        padding: 20px;
        font-style: normal;
        font-weight: 600;
        font-size: 22.9558px;
        line-height: 28px;
        mark{
            color: $dark-green;
            background-color: transparent;
            padding: 6px 5px;
            background-image: url(../img/mark-full.png);
            background-position: left bottom;
            background-repeat: repeat-x;
            background-size: auto 57%;
        }
        &:hover{
            border-color: $light-color;
        }
        &:before{
            border-color: $light-color;
        }
    }
}