

//== Blog Section ::::
.moduleBlog{
    .loop-blog{
        display: flex;
        flex-wrap: wrap;
        .blog-card{
            .thumb-img{
                img{
                    width: 100%;
                }
            }
        }
    } 
 }
 //========== /Blog Section